The aim of this notebook is to scrape all the european airports (IATA code list), which defines which flight data I would like to have from the historical flight API (see historical flight API notebook)

In [6]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
url = 'https://airportcodes.io/en/continent/europe/'
response = requests.get(url)
response.status_code

200

In [7]:
soup = BeautifulSoup(response.content, "html.parser")

In [13]:
soup.select('#content > article > div > div > section:nth-child(3) > div > div > table > tbody > tr:nth-child(1) > td:nth-child(2)')

In [ ]:
soup.select("td:nth-child(2)")

In [15]:
soup.select("td:nth-child(2)")[0].get_text()

'AAL'

In [ ]:
iata_list = []
#num_iter = len(soup.select("td:nth-child(2)"))
for i in range(159):
    iata_list.append(soup.select("td:nth-child(2)")[i].get_text())
iata_list

In [39]:
df = pd.DataFrame({"IATA_code":iata_list})
df

    IATA_code
0         AAL
1         ABZ
2         MAD
3         ALC
4         AMS
..        ...
154       WAW
155       KJA
156       ZAG
157       ZIA
158       ZRH

[159 rows x 1 columns]

In [40]:
df.IATA_code.unique()

array(['AAL', 'ABZ', 'MAD', 'ALC', 'AMS', '', 'BCN', 'BRI', 'BFS', 'BEG',
       'BGO', 'SXF', 'TXL', 'BLL', 'BHX', 'BOO', 'BLQ', 'BOD', 'KBP',
       'BOH', 'BRE', 'BRS', 'BRU', 'CRL', 'BUD', 'BOJ', 'CAG', 'CWL',
       'CTA', 'CDG', 'CIA', 'CGN', 'CPH', 'WRO', 'ORK', 'DME', 'DTM',
       'DRS', 'DUB', 'DUS', 'EMA', 'EDI', 'EIN', 'ATH', 'BSL', 'EXT',
       'PMO', 'FAO', 'OPO', 'FRA', 'GDN', 'GVA', 'GOA', 'BHD', 'GLA',
       'GOT', 'LPA', 'GRV', 'HAM', 'HAJ', 'HEL', 'OTP', 'HER', 'LIS',
       'BGY', 'PDL', 'FKB', 'KTW', 'KZN', 'KEF', 'HRK', 'KRK', 'KUF',
       'SPC', 'TER', 'LBA', 'LEJ', 'TLL', 'FCO', 'LGG', 'LPL', 'LJU',
       'LGW', 'LHR', 'LTN', 'STN', 'LLA', 'LUX', 'LYS', 'BTS', 'AGP',
       'MMX', 'MXP', 'MLA', 'MAN', 'MRS', 'LIN', 'MSQ', 'WMI', 'MUC',
       'FMO', 'NAP', 'NCL', 'NCE', 'NWI', 'NUE', 'ODS', 'OSL', 'PMI',
       'ORY', 'PSA', 'ROV', 'TGD', 'POZ', 'PRN', 'LED', 'AKT', 'BZZ',
       'FFD', 'LKZ', 'MHZ', 'RMS', 'RIX', 'DSA', 'SCQ', 'SJJ', 'SNN',
       'SVO', 'SIP', 'SKP', 'AER', 'SOF', 'SOU', 'SVG', 'ARN', 'STR',
       'TFN', 'TFS', 'SKG', 'TIA', 'TLS', 'TSF', 'TOS', 'TRD', 'TRN',
       'UFA', 'PRG', 'VAR', 'VCE', 'VRN', 'VIE', 'VNO', 'VKO', 'WAW',
       'KJA', 'ZAG', 'ZIA', 'ZRH'], dtype=object)